.pointer {
    --width: 4rem;
    --height: 4rem;
    position: fixed;
    top: calc(var(--height) / -2);
    left: calc(var(--width) / -2);
    width: var(--width);
    height: var(--height);
    transition: all 0.15s ease-out;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.08;
}

.pointer div {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: none;
    border-width: 0.3rem;
    border-color: #8b5cf6;
}

.pointer div:nth-child(1) {
    top: 0;
    left: 0;
    border-top-style: solid;
    border-left-style: solid;
}

.pointer div:nth-child(2) {
    top: 0;
    right: 0;
    border-top-style: solid;
    border-right-style: solid;
}

.pointer div:nth-child(3) {
    bottom: 0;
    left: 0;
    border-bottom-style: solid;
    border-left-style: solid;
}

.pointer div:nth-child(4) {
    bottom: 0;
    right: 0;
    border-bottom-style: solid;
    border-right-style: solid;
}

@media (pointer: coarse), (max-width: 768px) {
    .pointer {
        display: none !important;
    }
}